backups/
crash-reports/
mods/
essential/
downloads/
journeymap/data/
logs/
resourcepacks/
saves/
screenshots/
versions/
launcher_profiles.json 
minecraftinstance.json 
ops.json 
options.txt
patchouli_data.json 
rhino.local.properties 
usercache.json
usernamecache.json 
WailaErrorOutput.txt 
whitelist.json
.curseclient
.cl*