backups/
crash-reports/
fancymenu_data/
mods/
modernfix/
essential/
downloads/
journeymap/data/
logs/
resourcepacks/
saves/
screenshots/
versions/
launcher_profiles.json 
minecraftinstance.json 
ops.json 
options.txt
patchouli_data.json 
rhino.local.properties 
usercache.json
usernamecache.json 
WailaErrorOutput.txt 
whitelist.json
.curseclient
.cl*

local/
libraries/
config/bettervillage_1.properties
config/jei/world/
journeymap/journeymap.log
config/libraryferret_1.properties
config/sound_physics_remastered

darkmodeeverywhereshaders.json
config/jecalculation/record.json

last_world.fmdata
